body
{
    margin: 0;
    padding: 0;
    background-color:#8D9C9F;
    font-family: 'Consolas';
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        background: #5D6769;
        border-radius: 5px ;

}
h2{
    text-align: center;
    color: #4586CF;
    padding: 20px;
}
label{
    color: #4586CF;
    font-size: 17px;
}
#Mail{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;
}
#Pass{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 8px;

}
#log{
    width: 300px;
    height: 30px;
    border: none;
    background: #1963B5;
    border-radius: 17px;
    padding-left: 7px;
    color: #8AA6C6;


}
span{
    color: #8AA6C6;
    font-size: 17px;
}
a{
    float: left;
    background-color: #8AA6C6;
}
