<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <link rel="stylesheet" type="text/css" media="screen" href="404.css">
</head>
<body>
<div class="p1">
  <p>404</p>
  <p>I think you are lost</p>
</div>
  
</body>
</html>