<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
  <ul id="status"></ul>
  <form id="login" method="POST" action="/chatroom">
    <button name="logout" id="logout" >Logout</button>

  </form>
  


  <script>
    

    
    
    //socket.on("connection")
    
    //socket.on("status", (data) => {
    //  var status = document.getElementById("status");
    //  var userStatus = document.createElement("li")
    //  userStatus.innerHTML = data;
    //  status.appendChild(userStatus)
    //})
    

    //socket.emit("status","online")
  </script>
</body>
</html>