<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" media="screen" href="homepage.css">

  </head>
  <body>
    <h1>Private Chat App for BE3S Community</h1>

    <div id="home-container">

      <img src="images/icons/home_logo.png" width="370px" height="300px" alt="" id="homeimg">

      <p>Private Chat App</p>
      <form action="/" method="POST">
      <button class="anybutton" id="log-in">Login</button>
      </form>
    </div>
  </body>
</html>
